@page "/error"



<h1 class="ui header red">Oops Sorry, an Error Occurred</h1>

<div class="ui negative message icon">
    <i class="warning icon"></i>
    <div class="ui content">
        <b>We are having some trouble completing your request. Please try again later</b>
    </div>
</div>