@page "/"

<h3 class="ui header blue">Helloo we are ready to KickStart with BLAZOR UI</h3>
<p><a>Semantic CRUD Generator</a>. is so far the most creative way to deliver fast with customized Interfaces</p>

<div class="ui text container center aligned">
    <a href="/shop" class="ui button primary" onclick="$(this).addClass('loading')">Start Shopping</a>
</div>
