@inherits LayoutComponentBase

<div class="ui container" style="margin:30px">

    <section class="ui two column grid">
        <div class="three wide column">
            <NavMenu />
        </div>


        <div class="thirteen wide column">
            <LoginDisplay />
            <div class="ui container segment ">
                @Body
            </div>
        </div>

    </section>
</div>

