<div class="ui vertical menu fluid" style="border-radius:0;">
    <a class="active item" href='/'><i class="home icon"></i>Home</a>
    <a class="active item" href='/shop'><i class="cart icon"></i>Shopping</a>
    <a class="active item" href='/shop/Checkout'><i class="cart icon"></i>Shopping</a>
</div>